<!-- [formGroup] est propriété me permettant de lier notre formaulaire 
avec mon "userProfile" qui est ecrit dans le form.components
(ngSubmit) est un eventlistener angular qui me permettant d'activer la fonction onSubmit(). -->

<form [formGroup]= "userProfile" (ngSubmit)="onSubmit()">
    <h3>Identité</h3>
    <div class="form-group">
      <label>Nom: </label>
      <input class="form-control" [(ngModel)] = "myPerson.nom" type="text" formControlName="nom" placeholder="Nom">
    </div>
    <div class="form-group">
      <label>Prenom:</label>
      <input class="form-control" [(ngModel)] = "myPerson.prenom" type="text" formControlName="prenom" placeholder="Prenom">
    </div>
    <div formGroupName="adresse">
        <h3>Adresse</h3>
        <div class="form-group">
          <label>Numéro: </label>
          <input class="form-control" [(ngModel)] = "myPerson.numero" type="number" formControlName="numero" placeholder="Numéro">
        </div>
        <div class="form-group">
          <label>Rue: </label>
          <input class="form-control" [(ngModel)] = "myPerson.rue" type="text" formControlName="rue" placeholder="Rue">
        </div>
        <div class="form-group">
          <label>Code Postal: </label>
          <input class="form-control" [(ngModel)] = "myPerson.cp" type="number" formControlName="cp" placeholder="Code Postal">
        </div> 
    </div>
    <button *ngIf = "!myCondition" class="btn btn-primary" (click)= "addPersons()" type="submit">Add</button>
    <button  *ngIf = "myCondition" class="btn btn-success" (click)= "updateMyPerson()" type="submit">Update</button>
</form>

<h1>Tableau des personnes</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Numéro</th>
      <th>Rue</th>
      <th>Cp</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons">
      <td>{{person.nom}}</td>
      <td>{{person.prenom}}</td>
      <td>{{person.numero}}</td>
      <td>{{person.rue}}</td>
      <td>{{person.cp}}</td>
      <td>
          <!-- <button type="submit">Modifier</button> -->
        <button class="btn btn-danger" (click)="onDelete(person.id)">Delete</button> 
        <button class="btn btn-success" (click)="editPerson(person)">Update</button> 
      </td> 
    </tr>
  </tbody>
</table>





