<!-- [formGroup] est propriété me permettant de lier notre formaulaire 
avec mon "userProfile" qui est ecrit dans le form.components
(ngSubmit) est un eventlistener angular qui me permettant d'activer la fonction onSubmit(). -->

<form [formGroup]= "userProfile" (ngSubmit)="onSubmit()">
    <h3>Identité</h3>
    <label>Nom: <input [(ngModel)] = "myPerson.nom" type="text" formControlName="nom"></label>
    <label>Prenom: <input [(ngModel)] = "myPerson.prenom" type="text" formControlName="prenom"></label>
    <div formGroupName="adresse">
        <h3>Adresse</h3>
        <label>Numero:  <input [(ngModel)] = "myPerson.numero" type="number" formControlName="numero"></label>
        <label>Rue: <input [(ngModel)] = "myPerson.rue" type="text" formControlName="rue"></label>
        <label>Cp: <input [(ngModel)] = "myPerson.cp" type="number" formControlName="cp"></label>
    </div>
    <button *ngIf = "!myCondition" (click)= "addPersons()" type="submit">Add</button>
    <button *ngIf = "myCondition" (click)= "updateMyPerson()" type="submit">Update</button>
   
</form>
<h1>Tableau des personnes</h1>

<ul>
    <li *ngFor="let person of persons">
        <table border="1px">
            <tr>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Numero</th>
              <th>Rue</th>
              <th>Cp</th>
            </tr>
            <tr>
              <td>{{person.nom}}</td>
              <td>{{person.prenom}}</td>
              <td>{{person.numero}}</td>
              <td>{{person.rue}}</td>
              <td>{{person.cp}}</td>
              <td>
                 <!-- <button type="submit">Modifier</button> -->
                <button (click)="onDelete(person.id)">Delete</button> 
                <button (click)="editPerson(person)">Update</button> 
              </td> 
            </tr>
        </table>
    </li>
</ul>

